# local package
-e .

# from this package
numpy>=1.11.0
matplotlib
ipywidgets>=7.0.1
scipy
tqdm
nibabel
k3d
nipy
vtk

pandas

# for testing
coverage
pytest>=3.6
pytest-ordering
pytest-cov
python-coveralls
nbval